{% include 'layouts/base.html.twig' %}

<div class="container">
<!-- Page Heading/Breadcrumbs -->
    <div class="col-lg-12">
        <h1>LEARNING ENVIRONMENT
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">Contact</li>
        </ol>
    </div>
        <!-- Main-->
                    <div class="col-lg-12 text-justify">
                        <h3>Making the most of school hours</h3>
                        <!-- Content -->
                            <ul>
                                <li>Minimum 200 school working days. </li>
                                <li>800 instructional hours (in 200 days) in an academic year with a break up of 500 instructional hours for language and 300 hrs for Mathematics/Science. </li>
                                <li>Out of 4 instructional hours / day, 2½ hrs could be earmarked to reading, writing and language and 1½ hrs of Mathematics/Science. </li>
                            </ul>
                            <h3 text-align="left">Positive Learning </h3>

                            <ol>
                                <li>A welcoming, caring and emotionally safe atmosphere, warm pupil-teacher relationship.</li>
                                <li>A non-threatening, non-discriminatory (irrespective of identity- religion, caste, race, language etc) non-exclusionary classroom environment.
                                </li>
                                <li>A communicative spaces for dialogue, openness and sharing based on mutual respect, both in the form of teacher-child and child-child communications.
                                </li>
                                <li>Teacher to be sensitive to the children’s natural learning processes, to their home backgrounds, and their individual differences, diversity in classroom while fostering meaningful and purposeful ways of engagement.</li>

                                <li>A welcome space for parents and community members in classrooms</li>
                            </ol>

                            <h3>Classrooms to community </h3>

                            <ol>
                                <li>Reading newspaper together followed by a discussion.</li>
                                <li>
                                    Showcasing children's accomplishments (in reading, writing, numeracy etc.) in community events.</li>
                                    <li>
                                        Involvement of community in teaching and school activities appropriately.
                                    </li>
                                    <li>Visits to fairs, parks, post office, police station and local body followed by a discussion and findings.</li>
                                </ol>

                                <h3>Support Resource</h3>
                                <P>At The Good Harvest School, we aim to provide students a wide range of support resources for better learning outcomes. These resources give enough room for curiosity, comprehension, hands on experience, critical thinking and problem solving to reinforce the concept learnt.
                                </P>
                                <P>Exposure to a variety of curriculum supplement enables students to gain confidence, develop social skills, express themselves through art and work independently.
                                </P>

                                <h3>Agriculture Unit</h3>
                                <P>
                                    Agriculture, with its allied sectors, is unquestionably the largest livelihood provider in India, more so in the vast rural areas. It also contributes a significant figure to the Gross Domestic Product (GDP). Sustainable agriculture, in terms of food security, rural employment, and environmentally sustainable technologies such as soil conservation, sustainable natural resource management and biodiversity protection, are essential for holistic rural developmentThe economic contribution of agriculture to India's GDP is steadily declining with the country's broad-based economic growth. Still, agriculture is demographically the broadest economic sector and plays a significant role in the overall socio-economic fabric of India
                                </P>
                                <P>
                                    At The Good Harvest School an open space is provided for students to learn about good farming practices. The students get a hands on experience in preparing seed beds, grow a variety of saplings/seedlings in nursery and become aware of the know-how of new-age agriculture.
                                </P>
                                <P>
                                    The prepared saplings and seedlings are given to the farmers for free. Students take a conscious effort to protect and preserve the nature and do away with practices which pose a threat to the environment.
                                </P>
                                <h3>After-School Activities</h3>
                                <P>
                                    Computer and Language classes: We are keen to work among parents and young people. After school hours, special classes of computer and languages can be designed to reach out students from nearby government schools.
                                </P>
                                <P>
                                    Movie screening: We’ll have an open area and facility to screen a movie to 100+ people/students. We believe an impact of a movie is very high. It is also a good way to increase social bonding among villagers.
                                </P>
                                <P>
                                    Open Library: To encourage reading among children, we want to have an open Library for all. This will benefit not only our students but children from other schools can be a part of this program for free.
                                </P>
                                <P>
                                    Farmers’ support group: From past 2 years we have been working among farmers on a small scale, we would like to give it a formal structure in the future.
                                </P>
                                <P>
                                    Good Parenting: One of the ways we can help our students is by educating their parents as well. We have often seen children being mistreated by their own parents and setting a bad example in front of them. We would like to help them understand the importance of being a good parent.
                                </P>

                        </div>
                </div>

<hr>
                {% include 'layouts/footer.html.twig' %}
