<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>UPKAR PROJECT</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>Vision and Mission</a>
        </li>
        <li><a href="our-story">Our Story</a></li>
        <li><a href="teaching-methodology">Teaching Methodology</a></li>
        <li><a href="learning-environment">Learning Environment </a></li>
        <li><a href="#services" onclick=$("#menu-close").click();>Services</a></li>
        <li><a href="#gallery" onclick=$("#menu-close").click();>Gallery</a></li>
        <li><a href="/meet-our-team">Meet Our Team</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/donate">Donate</a></li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>
