{% include 'layouts/base.html.twig' %}

<div class="container">

<!-- Page Heading/Breadcrumbs -->
    <div class="col-12">
        <h2>OUR STORY:
        </h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">Our Story</li>
        </ol>
    </div>
<!-- Main-->

            <p>Dear prayer Partners,</p>
        <!-- Content -->
        <img src="img/kid-4.jpg" class="image fit" alt="" />
        <p class="lead">Zion Sewa (UPKAR PROJECT) was started in 2007 in Mawyia, Village Barabanki by
            one man from this village. He saw there were many children not going to school.
            They had no education, no life, and no development.</p>
            <h3 text-align="left">Positive Learning </h3>
            <p class="lead">God gave us a burden to start something for them, so we started non formal
                educational classes. In the first year our two team members from ZION CHURCH
                Barabanki began visiting door to door encouraging the parents, and teaching them
                about the importance of education and giving awareness. That year parents started
                sending their children to the school. In the first year alone, our team members helped
                by enrolling 30 students. Gradually we could see change in the villagers’ lives.</p>

                <p class="lead">The UPKAR PROJECT has taken responsibility for 180 children in the village of
                    Mawaiaya, Barabanki. We are providing the children’s’ school fees along with basic
                    living costs such as hygiene supplies and clothing. In addition, the UPKAR
                    PROJECT provides free extra tuition after school. We run an after school program
                    for those from underprivileged backgrounds. We help them with their schooling,
                    health, and nutrition. The quality of schools in rural India is very poor. The UPKAR
                    PROJECT improves this by operating a small school for poor children from
                    surrounding areas.</p>
                    <div id="founders-and-history" style="padding:20px; font-size: 15px; margin: 0;">
                        <p>Upkar project is a non-profit learning centre for all its students.</p>
                        <p>INDIA’S RURAL CHILDREN</p>
                        <p>From rural areas, only 4.5% of males and 2.2% of females complete education level of graduation.</p>
                        <p>Literacy rate in rural areas was pegged at 71% last year (2016), compared to 86% in urban areas.</p>
                        <p>In India, almost 62 million children (48 percent) across all income groups are stunted</p>
                        <p>More than just education - The comprehensive Development of Rural Children is also important!</p>
                    </div>
                </div>

                <hr>

        {% include 'layouts/footer.html.twig' %}
