{% include 'layouts/base.html.twig' %}
{% include 'layouts/nav.html.twig' %}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="col-12">
        <h1>Teaching Methodology
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">Teaching Methodology</li>
        </ol>
    </div>
    <!-- Main-->

    <p>Dear prayer Partners,</p>
    <!-- Content -->
    <p class="kaddu lead">“Education is improving the lives of others and for leaving your community
 and world better than you found it.”</p>
    <p class="lead">At The Upkar Project, child centric approach is the driving force of everything we do– from
        curriculum design to how our premises looks. We have taken into consideration that every
        space and activity provides a full measure of opportunities for the children to learn and
        thrive. Each day is a combination of individual and group activities, outdoor and indoor
        activities aimed at integrated development of a child. On the whole our aim at the project is
        to blossom a child&#39;s personality by making the most of the formative years in an ideal
        learning environment.</p>
        <p class="lead">The school aims at nurturing girls with values and competencies. We aim to accomplish it by
            giving right balance between curriculum and extra-curricular activities. We aim to help our
            students stand abreast with students across the globe. </p>
        </div>

        <hr>

        {% include 'layouts/footer.html.twig' %}
