{% extends 'layouts/base.html.twig' %}

{% block body %}
{% include 'layouts/nav.html.twig' %}
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>UPKAR PROJECT</h1>
        <h3><span class="sp-1">Play Learn and Grow Together</span></h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About the Vision</h2>
                <p class="lead"> "To develop rural children in an integrated manner enabling them to stand with other <a target="_blank" href="#">children across the globe</a></p>
                <p class="lead">
                    To develop their lives (physical, spiritual, mental and social) <a href="#">-Luke 2:52</a>"
                </p>
            </div>
            <div class="col-lg-12 text-center">
                <h2>About the Mission</h2>
                <p class="lead  about-mission">
                    The Upkar project provides high-quality education to rural children in an integrated manner.
                    We aim to give them equal opportunities to learn as others, supported by the best of learning tools and environment.
                    So that they go on to become change makers by breaking the vicious cycle of poverty,
                    illiteracy, and improper hygiene and sanitation; allowing the students to contribute towards India’s transformation
                    so that children can be transformed in their personal, work, society and physical life enabling them to contribute
                    towards India’s transformation.
                </p>
                <p class="lead  about-mission">
                    So that children can be transformed in their <a href="#">personal, work, society and physical life enabling
                        them to</a> contribute towards India’s transformation
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <section id="founders-and-history" class="founders-and-history">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Founders and History</h2><hr width="30%">
                    <p class="lead">Rt.Rolly Singh & Salomi Singh</p>
                    <div class="founder-img">
                        <img src="img/upkar/IMG_3643.JPG"alt="">
                    </div>
                    <div class="about-founder">
                        <p class="lead"><span class="image left">
                        </span>Uncle Rolly comes from a humble background, he lost his parents at an early age
                        but by God’s grace persevered to complete his schooling and to eventually get his Aeronautical
                        technical training from I.T.I. Dehradun. In 1972 he began working at Hindustan Aeronautics
                        Limited, Lucknow and soon after met a Christian who shared the gospel with him and on that
                        day he trusted in Christ for the forgiveness of sins and eternal life. He soon became
                        an active member of a church in Lucknow.</p>
                    </div>
                    <p id="abt-frnd" class="lead">Quickly, Christ’s love for Rolly in the face of his own life
                        challenges and difficulties and how the Lord helped and sustained him in all that,
                        compelled him to love others like his Saviour. He got involved in various activities
                        in his church, and eventually resigned in 1979 from his job to move to Barabanki
                        along with his wife Aunty Salomi to serve God and people with the love of Christ.
                        Over time they both began to help people with their <b>spiritual</b>, <b>mental</b>,
                        <b>physical</b> and <b>social needs</b>. This led them to start Zion Sewa in 2001
                        to help people to this end.</p>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>


        <!-- Services -->
        <section id="services" class="services bg-primary">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2>LET’S HEAR FROM PEOPLE WHO MATTER THE MOST.</h2>
                        <hr class="small">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Service Name</strong>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <a href="#" class="btn btn-light">Learn More</a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-compass fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Service Name</strong>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <a href="#" class="btn btn-light">Learn More</a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-flask fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Service Name</strong>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <a href="#" class="btn btn-light">Learn More</a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-shield fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Service Name</strong>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <a href="#" class="btn btn-light">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.col-lg-10 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <!-- Callout -->
        <aside class="callout">
            <div class="text-vertical-center">
                <h1>“If children feel safe, they can take risks, ask questions, make mistakes, learn to trust, share their feelings, and grow.”</h1>
            </div>
        </aside>

        <!-- Portfolio -->
        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div id="gallery" class="col-lg-10 col-lg-offset-1 text-center">
                        <h2>Our Work</h2>
                        <hr class="small">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <a href="img/kid-2.jpg">
                                        <img class="img-portfolio img-responsive" src="img/kid-2.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <a href="img/kid-3.jpg">
                                        <img class="img-portfolio img-responsive" src="img/kid-3.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <a href="img/kid-4.jpg">
                                        <img class="img-portfolio img-responsive" src="img/kid-4.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <a href="img/kid-5.jpg">
                                        <img class="img-portfolio img-responsive" src="img/kid-5.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                        <a href="/gallery" class="btn btn-dark">View More Items</a>
                    </div>
                    <!-- /.col-lg-10 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <!-- Call to Action -->
        <aside class="call-to-action bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>We need you</h2>
                        <p>According to a rough estimate, the amenities we want to provide here today, will take about 20 years to reach in this village if no such initiative is taken. But you can be the catalyst of change, so that the village children can have a fair chance to grow and learn.</p>
                        <a href="#" class="btn btn-lg btn-light">Read First</a>
                        <a href="/donate" class="btn btn-lg btn-dark">DONATE NOW</a>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Map -->
        <!-- <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227807.68734095205!2d80.84694170314712!3d26.856006348923735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39995e7f88b84c8b%3A0x339e6abc4ca2e971!2sGauriya%2C+Uttar+Pradesh+225301!5e0!3m2!1sen!2sin!4v1491218008403"></iframe>
        <br />
        <small>
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227807.68734095205!2d80.84694170314712!3d26.856006348923735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39995e7f88b84c8b%3A0x339e6abc4ca2e971!2sGauriya%2C+Uttar+Pradesh+225301!5e0!3m2!1sen!2sin!4v1491218008403"></a>
    </small>
</section> -->

{% include 'layouts/footer.html.twig' %}

{% endblock %}
